.new-cost__off {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.new-cost__off button {
  transition: 0.4s ease;
  width: 32.5%;
  padding: 10px;
  border-radius: 10px;
  background-color: #d78730;
  color: #f9f9dd;
  font-weight: bold;
  box-shadow: #d78730 0px 0px 10px 1px;
  @media (max-width: 550px) {
    width: 60.5%;
    padding: 15px;
    font-size: 15px;
  }
}
.new-cost__off button:hover {
  box-shadow: #d78730 0px 0px 10px 3px;
  transform: scale(1.05);
}
.new-cost {
  /* background-color: #A2BDCC; */
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(209, 209, 209);
    @media (max-width: 610px) {
      margin-left: 10px;
      font-size: 25px;
    }
  }
  input {
    transition: 0.3s ease;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(209, 209, 209);
    @media (max-width: 610px) {
      padding: 10px;
      border-radius: 15px;
    }
    /* border: 2px solid transparent; */
    /* box-shadow: rgba(30, 255, 0, 0.382) 0px 0px 10px 5px; */
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  div {
    width: 250px;
    display: flex;
    margin: 0 10px;
    margin-bottom: 20px;
    @media (max-width: 610px) {
      width: 500px;
    }
  }
  &__name {
    flex-direction: column;
  }
  &__price {
    flex-direction: column;
  }
  &__date {
    flex-direction: column;
  }
  &__action {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 550px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__action button {
    transition: 0.4s ease;
    width: 32.5%;
    padding: 10px;
    border-radius: 10px;
    background-color: #d78730;
    color: #f9f9dd;
    font-weight: bold;
    box-shadow: #d78730 0px 0px 10px 1px;
    @media (max-width: 610px) {
      padding: 15px;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &__action {
    button:hover {
      box-shadow: #d78730 0px 0px 10px 3px;
      transform: scale(1.05);
    }
    button[type] {
      width: 65%;
    }
  }
}
