.cost-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: #d78730;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 120px;
  font-size: 20px;
  box-shadow: #ef9534 0px 0px 10px 2px;
  color: rgb(242, 240, 240);

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: #285276;
    border-radius: 10px;
    border: 1px solid white;
  }
  &__month {
    font-weight: bold;
    font-size: 15px;
  }

  &__year {
    font-size: 15px;
  }

  &__day {
    font-weight: bold;
    font-size: 30px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
  }

  &__price {
    background-color: #285276;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    @media (max-width: 550px) {
      background-color: #285276;
      border: 1px solid white;
      padding: 7px 10px;
      border-radius: 10px;
      font-size: 25px;
      font-weight: bold;
    }
  }

  &__name {
    margin-right: 20px;
    font-weight: bold;

    @media (max-width: 550px) {
      font-size: 30px;
      margin-right: 20px;
      font-weight: bold;
    }
  }
  &__cross {
  }

  @media (max-width: 550px) {
    height: 140px;

    &__date {
      width: 120px;
      height: 120px;
    }

    &__month {
      font-weight: bold;
      font-size: 20px;
    }

    &__year {
      font-size: 20px;
    }

    &__day {
      font-weight: bold;
      font-size: 35px;
    }
  }
}
