.container{
  width: 610px;
  min-height: auto;
  /* height: 100%; */
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #0000007d;
  overflow: visible;
  border-radius: 15px;

}



/* @media (max-width:500px) {
  .container{ 
    
  }
}*/

body{
  background-image: url(./stacked-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-color: #004CBB;
  background-position: left;
  background-attachment: fixed;
  animation: background 120s linear infinite alternate ;
  

}
@keyframes background{
  0%{
    background-position: left;

  }
  100%{
    background-position: right;

  }
}
@media (max-width:610px) {
  .container{
    width:500px;

  }
  body{
    background-size:  auto 1500px;
  
  }
}
@media (max-width:550px) {
  .container{
    width:100%;
    min-height: 100%;
    border-radius: 0;
    margin: 0;
  }
}